.app {
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 20vw 1fr 20vw;
  grid-template-rows: 5rem 1fr 2rem;
  grid-template-areas:
    "switch header header"
    "side main main"
    "footer footer footer";
  justify-items: center;
  align-items: center;
}

.switch {
  grid-area: switch;
}

.header {
  justify-self: center;
  grid-area: header;
}

.side {
  grid-area: side;
}

.main {
  grid-area: main;
  align-self: stretch;
}

.InfiniteForm {
  min-width: 30rem;
}

.footer {
  grid-area: footer;
}
